<div class="album__container">
    <img class="album__cover" src="/assets/bad_suns_disappear_here.jpg" alt="" />
    <div class="album__details">
        <h2 class="album__details__header">Off She Goes - Bad Suns</h2>
        <span class="album__details__inline">
            <h3 class="album__details__playlist">Now playing</h3>
            <h3 class="album__details__length">3:56</h3>
        </span>
        <p class="album__genre">IDK POP</p>
        <div class="album__controls">
            <button class="album__control">
                <img class="album__control__icon" src="/assets/favorite.svg" alt="" />
            </button>

            <button class="album__control">
                <img class="album__control__icon" src="/assets/repeat.svg" alt="" />
            </button>

            <button class="album__control">
                <img class="album__control__icon" src="/assets/bookmark.svg" alt="" />
            </button>

            <button class="album__control">
                <img class="album__control__icon" src="/assets/external-link.svg" alt="" />
            </button>
        </div>
    </div>
</div>
