.personal-playlists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}

.recommend-back {
  display: flex;
  flex-direction: column;
  width: 187.5px;
  height: 250px;
  background: rgba(188, 188, 188, 0.15);
  margin-top: 15px;

  & > p {
    color: #bcbcbc;
    margin-left: 15.62px;
    margin-right: 15.62px;
    margin-top: 13.56px;
  }
}

.gradient-back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 17.19px;
  margin-left: 15.62px;
  width: 156.25px;
  height: 156.25px;
  background: linear-gradient(
    223.64deg,
    rgba(18, 19, 20, 0.77) 29.04%,
    rgba(0, 0, 0, 0.9) 73.36%
  );
}

.playlist-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
