<div class="personal-playlists">
  <div class="recommend-back">
    <div class="gradient-back">
      <img src="/assets/on-repeat.svg" style="width: 56px; aspect-ratio: 1" />
      <a href="#" class="playlist-txt">ON REPEAT</a>
    </div>
    <p>Songs that you listen to on repeat</p>
  </div>
  <div class="recommend-back">
    <div class="gradient-back">
      <img src="/assets/Infinity.svg" style="width: 56px; aspect-ratio: 1" />
      <a href="#" class="playlist-txt">FOREVER</a>
    </div>
    <p>Old songs you still love</p>
  </div>
  <div class="recommend-back">
    <div class="gradient-back">
      <img
        src="/assets/back-in-time.svg"
        style="width: 56px; aspect-ratio: 1"
      />
      <a href="#" class="playlist-txt">BACK IN TIME</a>
    </div>
    <p>Playlist with songs you used to love to listen to</p>
  </div>
  <div class="recommend-back">
    <div class="gradient-back">
      <img src="/assets/favorites.svg" style="width: 48px; aspect-ratio: 1" />
      <a href="#" class="playlist-txt">FAVORITES</a>
    </div>
    <p>Your favorite tracks are gathered here</p>
  </div>
</div>
